*{
    background-color: rgb(162, 165, 201);
}
.container{
    width: 100%;
    height: 100vh;
    font-size: 20px;
}
.container h1{
    font-size: 20px;
    padding: 20px;
    color: rgb(255, 208, 0);
    font-size: 30px;
}
.container h1 img{
    width: 25px;
}
.container button img{
    width: 20px;
}
.container button{
    display: flex;
    padding: 15px;
    border-radius: 10px;
    width: 100%px;
    border: 0;
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    color: #000000;
    margin: 30px 0px 20px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.inpu-box img{
    width: 25px;
    bottom: 15px;
    right: 15px;
    position: absolute;
    cursor: pointer;
}
.inpu-box p{
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0px;
    outline: none;
    position: relative;
}