body{
    background: rgb(116, 116, 139);
}
.container{
    width: 90%;
    height: 100vh;
    display: flex;
}
.quotes{
    border: 0;
    border-radius: 8px;
    width: 500px;
    height: 225px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    color: gray;
    background-color: white;
}
.quotes p , .quotes h3{
    font-size: 1.5rem;
}
.generatebtn button{
    background-color: aqua;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    color: white;
}